{% extends template_from_string(data.website_layout) %}

{% block page %}

    <section class="page-heading haslayout">
        <div class="container">
            <div class="row">
                <h1>{% if data.page.type == 'dynamic' %}
                        {{ data.route_params.slug | capitalize | replace({'-':' '}) }}
                    {% else %}
                        {{ data.page.title }}
                    {% endif %}
                </h1>
            </div>
        </div>
    </section>

    {{ include(template_from_string(page_render('', 'page'))) }}

{% endblock %}

